.navbar {
  background: none;
  border: none;

  a {

    @media (min-width: $screen-xs-min)
    {
      line-height: 70px !important;
      padding: 5px !important;
    }

    @media (max-width: $screen-xs-max)
    {
      line-height: 20px !important;
    }

    .link-label
    {
      @media (min-width: $screen-xs-min)
      {
        display: none !important;
      }

      @media (max-width: $screen-xs-max)
      {
        display: inline-block !important;
      }
    }
  }

  i {
    padding: 8px;
    @include all_browser(border-radius, 5px);

    background: #4c4e5a;
    background: -webkit-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
    background: -moz-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
    background: -o-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
    background: -ms-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
    background: linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);

    &:hover
    {
      box-shadow: 0px 0px 2px #fff;
    }
  }
}

.navbar-brand {
  font-family: Stonecross;

  color: $text-color !important;

  @media (min-width: $screen-xs-min)
  {
    line-height: 70px;
    font-size: 2.5em;
  }

  @media (max-width: $screen-xs-max)
  {
    line-height: 30px;
    font-size: 1.5em;
  }
}

.navbar .center-links {

  @media (min-width: $screen-sm-min) {
    display: inline-block;
    float: none;
    vertical-align: top;
    margin-right: 150px;
    font-size: 22px;
  }

  @media (max-width: $screen-sm-max)
  {
    font-size: 20px;
  }

}

@media (min-width: $screen-sm-min) {
    .navbar .navbar-collapse {
        text-align: center;
    }
}
