.navbar-default {
  .navbar-nav {
    li {

      &.active
      {
        a {
          background: none;
          color: $text-color;

          &:hover
          {
            background: none;
            color: $text-color;
            cursor: default;
          }
        }

        i {
          background: rgb(177,187,216); /* Old browsers */
          background: -moz-linear-gradient(top,  rgba(177,187,216,1) 0%, rgba(109,133,186,1) 15%, rgba(63,76,107,1) 32%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(177,187,216,1)), color-stop(15%,rgba(109,133,186,1)), color-stop(32%,rgba(63,76,107,1))); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top,  rgba(177,187,216,1) 0%,rgba(109,133,186,1) 15%,rgba(63,76,107,1) 32%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top,  rgba(177,187,216,1) 0%,rgba(109,133,186,1) 15%,rgba(63,76,107,1) 32%); /* Opera 11.10+ */
          background: -ms-linear-gradient(top,  rgba(177,187,216,1) 0%,rgba(109,133,186,1) 15%,rgba(63,76,107,1) 32%); /* IE10+ */
          background: linear-gradient(to bottom,  rgba(177,187,216,1) 0%,rgba(109,133,186,1) 15%,rgba(63,76,107,1) 32%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1bbd8', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */

          box-shadow: 0px 0px 2px #fff;
        }
      }

      &:not(.active)
      {
        i {
          background: #4c4e5a;
          background: -webkit-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
          background: -moz-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
          background: -o-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
          background: -ms-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
          background: linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);

          &:hover
          {
            box-shadow: 0px 0px 2px #fff;
          }
        }
      }

      a {
        color: $text-color;

        &:hover {
          color: $text-color;
        }
      }
    }
  }
}

.navbar {
  background: none;
  border: none;

  a {

    @media (min-width: $screen-sm-min)
    {
      line-height: 70px !important;
      padding: 5px !important;
    }

    @media (max-width: $screen-xs-max)
    {
      line-height: 20px !important;
    }

    .link-label
    {
      @media (min-width: $screen-xs-min)
      {
        display: none !important;
      }

      @media (max-width: $screen-xs-max)
      {
        display: inline-block !important;
      }
    }
  }

  i {
    padding: 8px;
    @include all_browser(border-radius, 5px);

    background: #4c4e5a;
    background: -webkit-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
    background: -moz-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
    background: -o-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
    background: -ms-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);
    background: linear-gradient(top, #4c4e5a 0%, #2c2d33 100%);

    &:hover
    {
      box-shadow: 0px 0px 2px #fff;
    }
  }
}

.navbar-brand {
  font-family: Stonecross;

  color: $text-color !important;

  @media (min-width: $screen-xs-min)
  {
    line-height: 70px;
    font-size: 2.5em;
  }

  @media (max-width: $screen-xs-max)
  {
    line-height: 30px;
    font-size: 1.5em;
  }
}

.navbar .center-links {

  @media (min-width: $screen-sm-min) {
    display: inline-block;
    float: none;
    vertical-align: top;
    margin-right: 85px;
    font-size: 22px;
  }

  @media (max-width: $screen-xs-max)
  {
    font-size: 20px;
  }

}

.navbar .navbar-collapse {

  @media (min-width: $screen-sm-min) {
    text-align: center;
  }

  @media (max-width: $screen-xs-max) {
    background: rgba(76, 78, 90, 0.5);
  }
}

.navbar-right {

  @media (max-width: $screen-xs-max)
  {
    font-size: 20px;
  }

  .dropdown-toggle {

    @media (min-width: $screen-sm-min) {
      width: 150px;
      margin-top: 20px;
    }

    img {
      height: 35px;
      float: left;
      margin-right: 5px;
      @include all_browser(border-radius, 5px);

      &:hover
      {
        box-shadow: 0px 0px 2px #fff;
      }
    }

    .account_name {
      line-height: 35px;

      // @media (max-width: $screen-xs-max)
      // {
      //   font-size: 20px;
      // }
    }
  }
}

