<div id="login-container">
  <div class="login-title">SKILLFORGE</div>
  <!-- facebook login -->
  <button class="fb-login-button">{{unbound fa-icon "facebook-square"}} Log in with facebook</button>
</div>


{{outlet}}
